body {
  margin: 0;
  font-family: Lexend, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input[type='submit'] {
  outline: none;
  border: none;
  background-color: #d81b5d;
  color: white;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1em;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
}
button:focus,
button:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: #ac154a;
}
button.secondary {
  background-color: #707070;
}
button.secondary:hover,
button.secondary:focus {
  background-color: #505050;
}
button svg {
  fill: white;
  height: 1rem;
  width: 1rem;
}

button:disabled,
input[type='submit']:disabled {
  background-color: #888;
  cursor: default;
}

p {
  margin: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
form label,
form input[type='text'] {
  grid-column: 1 / span 2;
}
form label {
  margin-top: 1rem;
}
form input[type='text'] {
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  border: 1px solid #707070;
}
form input[type='text']:not(:first-of-type) {
  margin-bottom: 1rem;
}
form input[type='submit'] {
  grid-column: 2 / span 1;
}
form button {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}
